# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
.build/
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Local data
processed/*.csv
!.gitkeep

# IDE
.vscode/
.idea/
